
html,body{
	margin-bottom: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    margin-bottom: 0;
	overflow-x: hidden;
}
.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url(../img/0cuartoindividual.jpg);
	background-position: center;
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
	color: #fff;
	display:table;
	top: 0%;
	background-size: cover;
}
.intro .inner{
	display:table-cell;
	vertical-align: middle;
	width:100%;
	max-width: none;
}
.intro .inner h1{
	font-weight: bolder;
	font-size: 45spx;
	-webkit-text-stroke:1px black;
}
.intro .inner p{
	font-size: 20px;
}
.intro .inner hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #ffe9d6;
}

.intro .inner hr.light {
  border-color: #fff;
}

.negro{
	margin-bottom: 0;
	background-color:black;
	width: 100%;
}


.crema{

	margin-bottom: 0;
	background-color: #ffe9d6;
	color: black;
}
.crema h1{
	color: black;
}
.crema p{
	color: black;
}


.crema hr{
	max-width: 50px;
  border-width: 3px;
  border-color: black;
}
.crema h3{
	color:black;
}

.blanco{
	margin-top: 10px;
	background-color: #ffff;
}
.blanco hr{
	max-width: 50px;
  border-width: 3px;
  border-color: black;
}
.blanco h1{
	color: black;
}
.blanco h3{
	color: black;
}
.blanco p{
	color: black;
}

.icono {
	font-size: 90px;
	color: black;
}
.mapa{
	color: black;
	margin-bottom: 0;
	background-color: #ffff;
}

.negro hr{
	max-width: 50px;
  border-width: 3px;
  border-color: black;
}
.crema2{
	background-color:#ffe9d6;
	color: black; 
}
.crema2 p{
	color:black;
}
.crema2 h3{
	color: black;
}
.crema2 hr{
	max-width: 50px;
  border-width: 3px;
  border-color: black;
}

.galeria{
	width:100%;
	height: 100%;
	background-color: black;


}
/* .item{
	width: 100%;
	height: 700px;
}
.item img{
	height: 50px;
	width:50px;
}  */




.opciones{
	font-weight: bold;
	color:black;
	background-color: #ffe9d6;
	font-size: calc(0.5em + 0.5vw);
}


.crema{
	margin-bottom: 0;
	background-color:#ffe9d6;
	width: 100%;
}

.estilo-x { font-size: calc(2.5em + 2.5vw) }



.galleryrow {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .gallerycolumn {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .gallerycolumn img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.gallerycolumn {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.gallerycolumn {
	  flex: 100%;
	  max-width: 100%;
	}
  }
